src/main/resources/domainXSDs/discount.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="discountType">
        <xs:all>
            <xs:element name="amountOfTours" type="xs:int"/>
            <xs:element name="amountOfDiscount" type="xs:double"/>
        </xs:all>
    </xs:complexType>
    <xs:element name="discount" type="discountType"/>
</xs:schema>