src/main/resources/domainXSDs/mainTransport.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="mainTransportType">
        <xs:all>
            <xs:element name="name" type="xs:string"/>
        </xs:all>
    </xs:complexType>
    <xs:element name="mainTransport" type="mainTransportType"/>
</xs:schema>